@import 'spectre.css';

body {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

#github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#footer {
  color: #bcc3ce;

  a, a:visited, a:active {
    color: #66758c;
  }
}
